.card {
  background-color: rgb(209, 56, 56);
  color: rgb(224, 220, 220);
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 5%;
  border-radius: 5%;
}
.group {
  max-height: 250px;
  overflow: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}
.list-group-item {
  background-color: rgb(29, 56, 56);
  font-family: "Trebuchet MS";
  color: #7bdbab;
  cursor: pointer;
  border-color: #4b3939;
}
.list-group-item:hover {
  border-left-width: 3px;
  border-right-width: 3px;
  border-left-color: rgb(34, 34, 34);
  border-right-color: rgb(34, 34, 34);
  font-weight: 675;
}
body {
  background-color: rgb(22, 43, 43);
  display: flex;
  justify-content: center;
  text-align: center;
}
.btn {
  margin-top: 10px;
}
.footer {
  color: rgb(204, 202, 202);
}
