.card {
  margin-top: 10%;
  background-color: rgb(121, 214, 141);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}
.list-group-item {
  background-color: rgb(121, 214, 141);
  cursor: pointer;
}
.list-group-item:hover {
  border-left-width: 5px;
  border-right-width: 5px;
  font-weight: 650;
  /* border-bottom-color: rgb(228, 95, 90); */
}
body {
  background-color: #e78181;
  display: flex;
  justify-content: center;
  text-align: center;
}
.btn {
  margin-top: 10px;
}
